
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

// $primary-color : #4258f4;
$primary-color : #4258f4;

body{
	font-family: 'Poppins', sans-serif;	
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.modal-backdrop.event-popup{opacity:1;}
.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
}
.text-primary{
	color: $primary-color !important;
}
.badge-primary {
    color: #fff;
    background-color: $primary-color;
}

.v-select .dropdown-toggle::after {
    content: none;
}
.back-bg{
	background-image:url('/images/bg.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	z-index: 1;
	position: relative;
	display: flex;
    flex-direction: column;
	.bg-light{
		background-color: transparent !important;
	}
	.main {
		z-index: 7;
		position: relative;
	}
	footer {
		z-index: 5;
		position: relative;
	}
	h3 {
		font-weight: 600;
		margin-bottom: 25px;
		font-size: 32px;
	}
	h4 {
		font-weight: 300;
		font-size: 24px;
		margin-bottom: 40px;
	}
	&:after{
		content: "";
		background-color: rgba(255, 255, 255, 0.7);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 0;
	}
}
.counter-center {
	.main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
	}
}
.btn-select-hover{
	color: $primary-color;
    border-color: $primary-color;
}
.btn-select-hover{
	color: $primary-color;
    border-color: $primary-color;
}
.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}
.event-title{
	font-size: 18px;
	margin: 0;
	    font-weight: 600;
}
.event-nav{
	.btn-outline-primary {
	    color: #333333;
	    border-color: $primary-color;
	    border-width: 2px;
	   	padding: 2px 10px;
    	font-size: 14px;
	}
	.btn-outline-primary:hover {
	    color: #fff;
	    background-color: $primary-color;
	    border-color: $primary-color;
	    
	}
	.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	    color: #333333;
	    background-color: transparent;
	        border-color: #333;
	}
}
.event-select{
	.custom-select{
		border: 2px solid $primary-color;
		background-color: #fff;
	}
	.v-select .dropdown-toggle .clear {
	    display: none;
	}
}
.event-card{
	.card-header{
	    font-size: 18px;
	    font-weight: 600;
	        padding: 30px;
	}
	.card-body .slots-container{
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            padding: 23px 6px 0 15px;
	}
	.slot-section:first-child .slot-section-btn {
		border-top: 0px solid #e0e0e0;
	}
	.slot-section-btn {
	    padding: 12px 22px;
	    border-bottom: 1px solid #e0e0e0;
	    border-top: 1px solid #e0e0e0;
	    cursor: pointer;
	    transition: all 0.3s ease-in;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
      
      text-decoration: none;
      background-color: #4258f4;
	    color: #fff;
	}
	.slot-section-btn:hover,.slot-section-btn.collapsed {
    background-color: #f9f9fd;
    color:#000;
	    border-bottom: 1px solid transparent;
	    border-top: 1px solid transparent;
  }
  .slot-section-btn i{
    transform: rotate(180deg)
  }
  .slot-section-btn.collapsed i{
		transform: rotate(0deg)
	}
	.btn-outline-primary {
    width: calc(100% / 3 - 10% / 3 );
    margin-bottom: 20px;
    position: relative;
    font-size: 14px;
    color: #8f969a;
    font-weight: 400;
    border-color: #8f969a;
    padding: 8px 5px;
    border-radius: 3px;
    margin-right: calc(10% / 3);
	}
	.btn-outline-primary:hover {
	    border-color: $primary-color;
	    color: #333;
	    background-color: transparent;
	}
	.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	    background-color: rgba(182, 186, 189, 0.41);
	    .badge.available {
		    background-color: #8f969a;
		}
		.badge {
		    background-color: #8f969a;
		}
	}
	.btn .badge {
	    position: absolute;
	    top: -10px;
	    left: -10px;
	    border-radius: 13px;
	    height: 25px;
	    width: 25px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.btn .badge.available{
		background-color: #329d3a;
	}
}
.info-box {
    padding-left: 24px;
    position: relative;
    padding-right: 30px;
    font-size: 12px;
    margin: 15px 0;
	font-weight: 400;
}
.info-box:after {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #bbc1c5;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 3px;
    font-size: 12px;
}
.available.info-box:after {
	background-color: #329d3a;
}
.children-available.info-box:after {
    background-color: transparent;
    content: "\F1AE";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    top: -6px;
    color: $primary-color;
}
.info{
    padding: 15px 0;
        flex-wrap: wrap;
}
.event-popup{
	.modal{
		max-width: 500px;
	    margin: auto;
	    position: relative;
	    height: auto;
	    bottom: 0;
	    overflow: auto;
	    border-radius: 5px;
	}
	.modal-header {
	    border-bottom: 1px solid #eeeeee;
	    color: #131313;
	    justify-content: space-between;
	    background-color: #e0e0e0c7;
	    font-weight: 600;
	    display: flex;
	    padding: 20px;
	    align-items: center;
	}
	.modal-body {
	    position: relative;
	    padding: 20px 20px;
	}
	.btn-close {
	    padding: 0;
	    color: #a9a9a9;
	}
	label{
		font-size: 14px;
	}
}

section.section.back-bg.yellow-bg:after {
    background-color: rgba(255, 209, 9, 0.7);
}
section.section.back-bg.red-bg:after {
    background-color: rgba(255, 38, 0, 0.6);
}
.event-card .btn .badge {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 14px;
}
.emailVaalidation{
	margin-left: -5px;
}
.next_previous_text_color{
	color: #FFFFFF !important;
}
.impressum_white{padding:70px 0px;line-height:1.8}
.impressum_orange,.impressum_yellow{padding:40px 0px;}
.impressum_desc_list{text-align:left;}
.impressum_desc_list .col-md-4 font{text-transform: capitalize}
.impressum_title{font-weight:700;text-transform: capitalize}
.impressum_block .page_title{text-transform: capitalize}
.section_container{padding-top:70px;}
.section_list{padding-bottom:10px;padding-top:30px;}
.section_list h2{font-weight:700;margin-bottom:25px;}
.section_list h4{margin-bottom:10px; }
.datenschutz_containt .section_container h3{font-weight:300;}
.section_sec_txt{font-weight:300;}
.datenschutz_containt p,.impressum_block{color:#555555}
.section_list a{color: #1ABC9C;}
.battlemode img{width:100%;}
.foot-pdf-link{color:rgb(204, 204, 204) !important;}
.foot-link{font-size:14px !important;}
.footer_link{color:#fff !important;}
section.pricing {
  background: #FFD109;
  //background: linear-gradient(to right, #0062E6, #33AEFF);
  opacity: 1;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.pricing .btn-primary{background-color: #4258f4;border-color: #4258f4}
.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
  color:#ff0000 !important;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.about,.info,.contact,.impressum_orange,.impressum_white,.datenschutz_containt{
	background-color:#343A40;
	h2,p,dt,dd,h3,h4,li{
	 color: rgb(204, 204, 204);
	}
}

.info,.about{
    a.link{
        &:hover{
            color:#fff;
        }
    }
}

.contact{
    h4,h5,address,li,abbr{
         color: rgb(204, 204, 204) !important;
    }
}

.newsletter{
    background-color:#fff;
    h2{
        color:#343A40 !important;
    }
    a{
        color:#343A40 !important;
        &:hover{
            color:#fff !important;
        }
    }
}

.slider_section{	
	.video_slider{
		.custom_item{
			height:600px;
			width: 100%;
			img,video{
				height: 100%;
				width: 100%;
				object-fit:cover;
			}				
		}
		.owl-nav{
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			padding: 0 10px;
			button{
				font-size: 50px !important;
				height: 50px;
				width: 50px;
				background-color: #232323 !important;
				display: inline-block;
				color: #fff !important;
				border-radius: 50%;
				line-height: 1 !important;
				position: relative;
				&:focus{
					outline: none;
				}
				&:hover{
					cursor: pointer;
				}
				span{
					font-size: 0px;
					height: 20px;
					width: 20px;
					display: inline-block;
					border-bottom: 2px solid #fff;
					border-left: 2px solid #fff;
					position: absolute;					
				}				
				&.owl-prev{
					float: left;
					span{					
						transform: translate(-50%,-50%) rotate(40deg);
						-webkit-transform: translate(-50%,-50%) rotate(40deg);
						left: 29px;
						font-size: 0px;
					}
				}
				&.owl-next{
					float: right;
					span{												
						transform: translate(-50%,-50%) rotate(-135deg);
						-webkit-transform: translate(-50%,-50%) rotate(-135deg);
						left: 21px;
						font-size: 0px;					
					}
				}
			}
		}
		@media screen and (max-width: 479px) {
			.custom_item{				
    			height: 380px;    			
			}
			.owl-nav{
				button{
					height: 40px;
					width: 40px;
					&.owl-prev{
						span{
							left: 25px;
						}
					}
					&.owl-next{
						span{
							left: 18px;		
						}			
					}
					span{    						
					    height: 15px;
					    width: 15px;
					}
				}
			}
		}
	}			
}

footer{
    background-color:#fff !important;
    h4,p,dt,dd,a.footer_link,a.foot-pdf-link,a.foot-link{
        color:#343A40 !important;
    }
    a.footer_link,a.foot-pdf-link,a.foot-link{
        font-weight:700;
    }
    .text-secondary {
        color: #6c757d !important; 
    }
}
.info-box{font-size:14px;}
@media screen and (max-width: 600px) {
  .v-select{
  	margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
.v-tour div{
	z-index: 9;
}
.border-2 th,.border-2 td{
	border:2px solid !important;
	}
.reservation-btn{
	margin-bottom: 30px;
}
.hide_scroll{
	overflow-y: hidden;
}
@media screen and (max-width:767px) {
	.event-popup .modal-body{
		overflow-y: scroll;
		height: 450px;
	}
}
@media screen and (max-device-width: 767px) and (orientation: landscape) {
	.event-popup .modal-body{
		overflow-y: scroll;
		height: 220px;
	}
}

table{
	.yellow-link{
		color: yellow;
		// &:hover{
		// 	color:goldenrod;
		// }
	}
}
// .event-popup{
// 	.modal-header{
// 		padding: 10px 20px;
// 	}
// 	.modal-body{
// 		padding: 0px 20px;
// 	}
// }