@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Sans+Pro:300,400,600,700&display=swap');
body, .smooth-container { scroll-behavior: smooth; }
.morphext > .animated { display: inline-block; }
.back-bg { background-size: cover; background-position: center; min-height: 100vh; z-index: 1; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; /*background-image: none;*/ }
.main-header { border-bottom: 1px solid rgba(255,255,255,0.2); padding: 3px 0; position: absolute; top: 0; z-index: 2; width: 100%; -webkit-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; background-color: #333; }
.main-header.sticky { border-bottom: none; padding: 5px 0; position: fixed; top: 0; z-index: 99; width: 100%; -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.3); box-shadow: 0 3px 8px rgba(0,0,0,.3); }
.main-header .logo img { max-height: 70px; }
.main-header .nav .nav-item .nav-link,
.mobile-menu .navbar-nav .nav-item .nav-link { font-family: 'Source Sans Pro', sans-serif; font-size: 12px; font-weight: 400; text-transform: uppercase; color: #eee; letter-spacing: 3px; }
.main-header.sticky .nav .nav-item .nav-link { color: #333; }
.main-header .nav .nav-item .nav-link:hover { color: #1ABC9C; }
.main-header .nav-block { position: relative; }
.main-header .nav-block .menu-toggle { position: absolute; top: -3.3em; right: 1em; }
.main-header .nav-block .menu-toggle img.menu { width: 18px; height: 18px; }

.cms-index .morphblock{height:100vh !important;}
.cms-index section.top { background-size: cover; background-position: center; min-height: 100vh; z-index: 1; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-image: url("/images/main.jpg"); background-attachment: fixed; }
.cms-index section.top .morph span { font-size: 64px; text-shadow: 0 2px 4px rgba(0,0,0,.5); font-weight: 700; font-family: 'Roboto', sans-serif; }
.cms-index section.top .down-arrow{ position: absolute;width:100%; margin:0 auto;left:0;bottom: 10px; }
.cms-index section.top .down-arrow img { max-height: 20px; -webkit-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important;}
.cms-index section.bg-testimonials { background-size: cover; background-position: center; min-height: 50vh; z-index: 1; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-image: url("/images/testimonials.jpg"); background-attachment: fixed; }
.overlay:before { position: absolute; content: " "; top: 0; left: 0; width: 100%; height: 100%; display: block; z-index: 0; background-color: rgba(0,0,0,0.5); }
.back-bg .cms-index .bg-orange { background-color: rgba(230, 52, 0, 1); }
.back-bg .cms-index .bg-yellow { background-color: rgba(252, 207, 9, 1); }
.back-bg .cms-index .bg-light { background-color: rgba(249, 249, 249, 1) !important; }
.back-bg .cms-index .bg-dark { background-color: rgba(40, 40, 40, 1); }
.cms-index .about, .cms-index .racemode, .cms-index .battlemode,
.cms-index .info { padding: 1em 0; }
.cms-index .newsletter { padding: 3em 0; }
.cms-index .heading { font-family: 'Roboto', sans-serif; font-size: 30px; margin-bottom: 1em; letter-spacing: 0; font-weight: 700; }
.cms-index .heading.dark { color: #444444; }
.cms-index .heading.white { color: #ffffff; }
.cms-index .desc { line-height: 1.4; font-size: 1rem; font-weight: 300; font-family: 'Roboto', sans-serif; }
.cms-index .desc.dark { color: #555555; }
.cms-index .desc.white { color: #ffffff; }
.cms-index .link { font-family: 'Roboto', sans-serif; font-weight: 400; border-bottom-width: 1px; font-style: normal; display: inline-block; border-bottom: 1px solid #1ABC9C; padding: 0 2px; text-decoration: none !important; color: #1ABC9C; }
.cms-index .link:hover { color: #222222; border-bottom-color: #555555; }
.cms-index .btn-link { font-weight: 400; color: #444; text-decoration: none; border-radius: 30px; border: 2px solid #444; text-transform: uppercase; letter-spacing: 2px; font-size: 13px; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; padding: 8px 20px; }
.cms-index .btn-link:hover { background-color: #444; color: #FFF; border-color: transparent !important; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); }
.cms-index .btn-link.btn-link-white { color: #fff; border: 2px solid #fff; }
.cms-index .btn-link:hover.btn-link-white { background-color: #ffffff; color: #444; border: 2px solid #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0); }
.cms-index .newsletter h2 { font-weight: 300; letter-spacing: 1px; color: #eee; font-family: 'Source Sans Pro', sans-serif; }
.cms-index .testimonials p.review { line-height: 1.6; font-size: 24px; letter-spacing: 1px; font-weight: 300; font-family: 'Source Sans Pro', sans-serif; font-style: normal; text-align: center; }
.cms-index .testimonials .testimonials-item .client { text-align: center; }
.cms-index .testimonials .testimonials-item .client p { font-size: 15px; letter-spacing: 2px; font-weight: 500; text-transform: uppercase; margin-bottom: 0; }
.cms-index .testimonials .testimonials-item .client p:before { content: '\2013'; }
.cms-index .testimonials .testimonials-item .client span { font-weight: 300; font-size: 14px; letter-spacing: 1px; }
.cms-index .contact h4 { font-size: 24px; font-family: 'Roboto', sans-serif; color: #444444; font-weight: 400; }
.cms-index .contact h5, .cms-index .contact address, .cms-index .contact abbr { font-size: 16px; font-family: 'Roboto', sans-serif; color: #555555; font-weight: 700; }
.cms-index .contact address { font-weight: 400; }
.footer { background-color: #333; color: #ffffff; padding: 5em 0 0; }
.footer .foot-title { margin-bottom: 50px; font-size: 20px; font-weight: 300; letter-spacing: 3px; text-transform: uppercase; color: #ddd; letter-spacing: 3px; font-family: 'Source Sans Pro', sans-serif; }
.footer p { color: rgb(204, 204, 204); font-family: 'Roboto', sans-serif; font-size: 14px; opacity: .8; }
.footer .foot-link { color: rgb(204, 204, 204); font-family: 'Roboto', sans-serif; font-size: 17px; opacity: .8; text-decoration: none; letter-spacing: 1px; }
.footer .foot-link:hover { opacity: 1; text-decoration: none; }
.bottom-foot { background-color: #232323; padding: 2em 0; }
.bottom-foot p { margin: 0; color: rgba(255,255,255,0.25); }
.cms-index .owl-dots { margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 10px 0; }
.cms-index .owl-dots .owl-dot { margin: 0 3px; }
.cms-index .owl-dots .owl-dot span { width: 10px; height: 10px; background-color: rgba(255,255,255,.6); display: block; border-radius: 5px; }
.cms-index .owl-dots .owl-dot.active span { background-color: rgba(255,255,255,1); }
/*.cms-index button.navbar-toggler {
    background-color: #fff;
}*/
.cms-index .btn:focus, .cms-index .btn.focus { outline: 0; box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0); }
.cms-booking .content{min-height:100vh;}

@media screen and (min-width: 768px) {
 .cms-index section.top .morph span { font-size: 90px; }
 .cms-index .about, .cms-index .racemode, .cms-index .battlemode,
 .cms-index .info { padding: 5em 0; }
 .cms-index .heading { font-size: 30px; margin-bottom: 1em; }
 .cms-index .desc { line-height: 1.4; font-size: 1rem; }
}
@media screen and (min-width: 992px) {
 .cms-index section.top .morph span { font-size: 116px; }
 .main-header { background-color: transparent; }
 .main-header.sticky { background-color: #ffffff; }
 .cms-index .about, .cms-index .racemode, .cms-index .battlemode,
 .cms-index .info { padding: 10em 0; }
 .cms-index .heading { font-size: 40px; margin-bottom: 1em; }
 .cms-index .desc { line-height: 1.8; font-size: 1.25rem; }
}
