<template>
    <div class="main cms-index impressum_block">
        <header class="main-header" id="main-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-4">
                        <div class="logo"><img src="/../images/logo.png" class="img-fluid mx-auto mx-lg-0 d-block" alt=""></div>
                    </div>
                    
                    <div class="col-12 col-lg-8 nav-block">
                        <div class="d-flex d-lg-none menu-toggle">
                            <button class="navbar-toggler btn btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <img src="/../images/menu.svg" class="menu" alt="">
                            </button>
                        </div>
                        <div class="d-none d-lg-block"> 
                            <ul class="nav justify-content-end">
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link active" href="/#about">Drifter Karts</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/#race">Racing</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/#battle">Battle</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/faq">Preise</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                            </ul>
                        </div> 
                    </div>
                    <div class="d-block d-lg-none mobile-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                          <li class="nav-item active">
                                            <a class="nav-link" href="#about">Drifter Karts</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#race">Racing</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#battle">Battle</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                                          </li>
                                           <li class="nav-item">
                                                <a class="nav-link" href="/faq">Preise</a>
                                           </li>
                                           <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="top overlay">
            <div class="container h-100 morphblock">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col">
                        <div class="morph text-white text-center d-none"> <span class="page_title">Vorgaben</span></div>
                        <div class="text-center pt-1 pt-md-5">
                            <!--<a href="/startzeit-buchen/racing_mode" class="btn btn-link btn-link-white">Kart starten...</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center text-white down-arrow">
                <a href="#about" class=""><img src="/../images/down-arrow.svg" class="infinite animated fadeInDown" alt=""></a>
            </div>
        </section>
        <section class="impressum_white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center ">
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark border-2">
                       <thead>
                        <tr>
                            <th class="border-2">Altersgruppe</th>
                            <th class="border-2">Mitzubringende/ Unterschriebene Dokumente</th>
                            <th class="border-2">Geschwindigkeit</th>
                        </tr>
                       </thead> 
                       <tbody>
                         <tr>
                            <td>0-9 Jahre</td>
                            <td colspan="2">keine Teilnahme möglich</td>
                        </tr>
                         <tr>
                            <td>10 - 13 Jahre</td>
                            <td><a href="/../doc/Nutzungsvertrag_Haftungsausschluss.pdf" class="yellow-link" target="__blank">Nutzungsvereinbarung</a> + <a href="/../doc/Begleitperson.pdf" class="yellow-link" target="__blank">Begleitperson</a></td>
                            <td>eingeschränkt</td>
                        </tr>
                        <tr>
                            <td>14 - 15 Jahre</td>
                            <td><a href="/../doc/Nutzungsvertrag_Haftungsausschluss.pdf" class="yellow-link" target="__blank">Nutzungsvereinbarung</a></td>
                            <td>eingeschränkt</td>
                        </tr>
                         <tr>
                            <td>16 - 17 Jahre</td>
                            <td><a href="/../doc/Nutzungsvertrag_Haftungsausschluss.pdf" class="yellow-link" target="__blank">Nutzungsvereinbarung</a></td>
                            <td>voll</td>
                        </tr>
                        <tr>
                            <td>ab 18 Jahre</td>
                            <td>keine</td>
                            <td>voll</td>
                            
                        </tr>
                       </tbody>
                       </table>
                    </div>
                </div>
                </div>
            </div>
        </section>
                       
        <div><route-footer></route-footer></div> 
    </div>

</template>
<style lang="scss">
    @import '../../sass/home.css';
    @import '../../sass/animate.min.css';
    @import '../../sass/owl.carousel.min.css';
    @import '../../sass/owl.theme.default.min.css';
</style>
<script>
    require('../../js/morphext.min.js')
    require('../../js/owl.carousel.min.js')
    require('../../js/home.js')
</script>