<template>
  <transition name="modal-fade">
    <div class="modal-backdrop event-popup">
      <div class="modal" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
        <header class="modal-header" id="modalTitle">
          <div>
            <small><strong><i>{{ this.$store.getters.BOOKING_MODE.name }}</i></strong></small>  <br>  
            <slot name="header">
            {{ $t('notes.booking_title', {mode: this.bookingMode.name, time: this.$store.getters.CURRENT_SLOT.start_time, date: this.$store.getters.CURRENT_SLOT.event_date}) }}
            
          </slot>
          </div>   
          
          <button type="button" class="btn-close" @click="close" aria-label="Close modal">x</button>
        </header>
        <section class="modal-body" id="modalDescription">
          <slot name="body">
            <div>
                <form class="form" @submit.prevent="onSubmit">
                  <div class="row">
                  <div class="col-md-6">
                        <div class="form-group">
                            <label :for="$t('email')">{{ $t('email') }} <span class="text-danger"> *</span></label>
                            <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
                            <!-- <small id="emailHelp" class="form-text text-danger">We'll never share your email with anyone else.</small> for error -->
                            <input name="email" v-model="email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email'), 'form-control': true }" :data-vv-as="$t('email')" type="text" :placeholder="$t('email')">
                            <i v-show="errors.has('email')" class="fa fa-warning"></i>
                            <small v-show="errors.has('email')" class="help text-danger emailVaalidation">{{ errors.first('email') }}</small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1">Member</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
                            <label :for="$t('no_of_members')">{{ $t('no_of_members') }} <span class="text-danger"> *</span></label>
                            <select name="no_of_members" v-model="no_of_members" :data-vv-as="$t('no_of_members')" :class="{'input': true, 'is-danger': errors.has('no_of_members'), 'form-control': true }" v-validate="'required'" >
                              <option value="">{{ $t('no_of_members') }}</option>
                              <option v-for="n in total_bookings" v-bind:key="n" v-bind:value="n">{{(n === defaultMode)?'Ganze Bahn':n}}</option>
                            </select>
                            <!-- {{ errors }} -->
                            <!-- <input type="number" v-validate="'min_value:1|required|validateBooking'" name="no_of_members" :data-vv-as="$t('no_of_members')" v-model="no_of_members" :class="{'input': true, 'is-danger': errors.has('no_of_members'), 'form-control': true }" :placeholder="$t('no_of_members')"> -->
                            <small class="text-muted">{{ $t('notes.remaining_slot_note', {value: this.$store.getters.CURRENT_SLOT.total_slots - this.$store.getters.CURRENT_SLOT.total_bookings}) }}</small>
                            <i v-show="errors.has('no_of_members')" class="fa fa-warning"></i>
                            <small v-show="errors.has('no_of_members')" class="help text-danger mb-3 d-block">{{ errors.first('no_of_members') }}</small>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                       <div class="form-group">
                        <label :for="$t('description')">{{ $t('description') }}</label>
                        <textarea name="description" v-model="description" :placeholder="$t('description_placeholder')" rows="2" cols="2" :class="{'input': true,'form-control': true }"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12">
                       <div class="form-group">
                        <div class="custom-control custom-checkbox mr-sm-2" v-show="this.$store.getters.CURRENT_SLOT.total_bookings == 0 && this.$store.getters.CURRENT_SLOT.total_kids == 0" >
                          <input type="checkbox" class="custom-control-input" 
                            id="hasKids" 
                            v-model="hasKids" value="Yes">
                          <label class="custom-control-label" for="hasKids">{{ $t('children')  }}</label>
                        </div>
                        <div class="alert alert-danger" v-show="this.$store.getters.CURRENT_SLOT.total_bookings > 0 && this.$store.getters.CURRENT_SLOT.total_kids > 0" role="alert">
                            {{ $t('notes.book_note_with_child') }}
                        </div>
                        <div class="alert alert-danger" v-show="this.$store.getters.CURRENT_SLOT.total_bookings > 0 && this.$store.getters.CURRENT_SLOT.total_kids == 0" role="alert">
                            {{ $t('notes.book_note_without_child') }}
                        </div>
                      </div>
                    </div>
                        
                        <div class="col-md-12">
                       <div class="form-group">
                        <div class="custom-control custom-checkbox mr-sm-2">
                          <input type="checkbox" class="custom-control-input" 
                            id="terms_condition" name="terms_condition"
                            v-model="terms_condition" v-validate="'required'"  value="Yes" :data-vv-as="$t('terms_condition')">
                          <label class="custom-control-label" for="terms_condition">Ich bin mit der Verarbeitung und Speicherung meiner Daten für die Buchung einverstanden und habe die <a href="/datenschutz" target="_blank">Datenschutzerklärung</a> gelesen.</label>
                         <i v-show="errors.has('terms_condition')" class="fa fa-warning"></i>   
                        <small v-show="errors.has('terms_condition')" class="help text-danger terms_condition">{{ errors.first('terms_condition') }}</small>
                        </div>
                        </div>
                        </div>
   
 

                    <!-- <div class="col-md-12">
                      <small v-show="errors.has('no_of_members')" class="help text-danger mb-3 d-block">{{ errors.first('no_of_members') }}</small>
                    </div> -->
                    <div class="col-md-12">
                      <button class="btn btn-primary reservation-btn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Booking">{{ $t('submit') }}</button>
                    </div>
                  </div>
                    
                    <div ></div>
                    <!-- <div class="input">
                        <label :for="$t('email')">{{ $t('email') }}</label>
                        <input name="email" v-model="email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }" :data-vv-as="$t('email')" type="text" :placeholder="$t('email')">
                        <i v-show="errors.has('email')" class="fa fa-warning"></i>
                        <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                    </div>
                    <div class="input">
                      <label :for="$t('no_of_members')">{{ $t('no_of_members') }}</label>
                      <input type="number" v-validate="'required|validateBooking'" name="no_of_members" :data-vv-as="$t('no_of_members')" v-model="no_of_members" :class="{'input': true, 'is-danger': errors.has('no_of_members') }" :placeholder="$t('no_of_members')">
                      <span v-show="errors.has('no_of_members')" class="help is-danger">{{ errors.first('no_of_members') }}</span>
                      <br />
                      <span>{{ $t('notes.remaining_slot_note', {value: this.$store.getters.CURRENT_SLOT.total_slots - this.$store.getters.CURRENT_SLOT.total_bookings}) }}</span>
                      <i v-show="errors.has('no_of_members')" class="fa fa-warning"></i>
                    </div>
                        <div class="input">
                        <label for="hasKids">{{ $t('children') }}</label>
                        <input 
                            type="checkbox" 
                            id="hasKids" 
                            v-model="hasKids" checked="false" value="Yes">
                        </div> -->
                    <!-- <button type="submit">{{ $t('submit') }}</button> -->
                </form>
            </div>
          </slot>
        </section>
      </div>
    </div>
  </transition>
</template>
<script>

// Vue.use(Validator);


export default {
  name: 'modal',
  data() {
      return {
          description: '',
          email: '',
          bookingMode: [],
          no_of_members: '',
          hasKids: false,
          terms_condition: false,
          body: [],
          total_bookings: 0
      }
  },
  created() {
    this.no_of_members = '';
  },
  updated() {
    this.bookingMode = this.$store.getters.BOOKING_MODE.id
    this.total_bookings = this.$store.getters.CURRENT_SLOT.total_slots - this.$store.getters.CURRENT_SLOT.total_bookings
    this.defaultMode = this.$store.getters.CURRENT_SLOT.total_slots
    let self = this
    this.$validator.extend('validateBooking', {
      getMessage(field, val) {
        return self.$i18n.t('validation.custom.no_of_members.max', {value: (self.$store.getters.CURRENT_SLOT['total_slots'] - self.$store.getters.CURRENT_SLOT['total_bookings'])});

      },
      validate(value, field) {
        if(value == '')
          return false;
        return value <= (self.$store.getters.CURRENT_SLOT['total_slots'] - self.$store.getters.CURRENT_SLOT['total_bookings'])
      }
    })
  },
  methods: {
      close() {
          this.description = '';
          this.email = this.$store.getters.EMAIL ;
          this.no_of_members = '';
          this.hasKids = false
          this.$emit('close')
          this.errors.clear()
          this.terms_condition =  false
      },
      onSubmit() {
        let self = this
        this.$validator.validateAll().then((result) => {
          if (result) {
            this.$http.post(this.$apiURL+'booking', 
            { 
              booking_mode_id: this.$store.getters.BOOKING_MODE['id'], 
              event_slot_id: this.$store.getters.CURRENT_SLOT['id'], 
              event_date: this.$store.getters.CURRENT_SLOT['event_date'], 
              booking_id: this.bookingMode['id'], 
              description: this.description,
              email: this.email, 
              no_of_members: this.no_of_members, 
              terms_condition :  this.terms_condition,
              has_kids: this.hasKids, 
            }, // the data to post
            { 
              headers: {'Content-type': 'application/json'}
            }).then(res => {
              this.$store.dispatch('SAVE_EMAIL', this.email);
              this.$swal(
                self.$i18n.t('great'),
                self.$i18n.t('booking_success'),
                'success'
              );
              this.close();
              this.$validator.reset()
            })
            .catch(e => {
            
                if(e.response.data) { 
                  let ServerErrors = [];
                  $.each(e.response.data.errors, function(field, messages) { 
                      ServerErrors.push({field:field,msg:messages[0]})
                  });
                  this.errors.add(ServerErrors); 
                }
            })
          }
          else {
            this.$swal(
              self.$i18n.t('oops'),
              self.$i18n.t('form_error'),
              'error'
            );
          }
        });
      }
  },
};
$(document).ready(function(){
    if((window.location.pathname).indexOf('startzeit-buchen') != -1){
        $(this).scrollTop(0);
    }
});
</script>
<style>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }
</style>