<template>
    <div class="main" style="height:unset">
        <div class="container">
            <div class="section bg-light py-3">
            <div class="container event-select">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="text-primary"><a :href="'/'"><img height="58" width="148" src="/images/logo.png" alt="Drifterkarts"></a></h2>
                    </div>
                </div>
            </div>
        </div>
            <div class="row my-4">
                <div class="col-md-4" v-for="(booking, index) in bookings" :key="index">
                    <div class="card mb-4">
                        <div :class="{'card-header': true, 'text-primary': booking.booking_mode.id == 1, 'text-danger': booking.booking_mode.id == 2 }">
                            <i class="far fa-calendar-alt mr-2"></i> {{ booking.event_date }}
                        </div>
                        <div class="card-body">
                            <p><small class="text-muted">{{ $t('booking_type') }}</small><br> {{ booking.booking_mode.name }}</p>
                            <p><small class="text-muted">{{ $t('email') }}</small><br> {{ booking.email }}</p>
                            <div class="row">
                                <div class="col-lg-6"><p><small class="text-muted">{{ $t('no_of_members') }}</small><br> {{ booking.no_of_members }}</p></div>
                                <div class="col-lg-6"><p><small class="text-muted">{{ $t('has_kids') }}</small><br> {{ booking.has_kids }}</p></div>
                            </div>
                            <p v-if="booking.event_slot"><small class="text-muted">{{ $t('event_time') }}</small><br> {{ booking.event_slot.start_time }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import _ from 'lodash';
export default {
    data() {
        return {
            bookings: []
        }
    },
    created() {
        if(!_.isEmpty(this.$route.params.token)) {
            this.getBookingHistory();
        }
    },
    methods: {
        getBookingHistory: _.debounce(function() {
            this.$http.get(this.$apiURL+'booking-history/'+this.$route.params.token)
            .then(res => {
                this.bookings = res.data.data
                // console.log(this.bookings);
            })
            .catch(e => {
                // Errors
            })
        }, 200)
    }
}
</script>