
<template>
    <div class="main cms-booking">
      <header class="main-header" id="main-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-4">
                        <div class="logo"><a :href="'/'"><img src="/../images/logo.png" class="img-fluid mx-auto mx-lg-0 d-block" alt=""></a></div>
                    </div>
                    
                    <div class="col-12 col-lg-8 nav-block">
                        <div class="d-flex d-lg-none menu-toggle">
                            <button class="navbar-toggler btn btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <img src="/../images/menu.svg" class="menu" alt="">
                            </button>
                        </div>
                        <div class="d-none d-lg-block">
                            
                        </div>
                        <div class="d-none d-lg-block"> 
                            <ul class="nav justify-content-end">
                              <li class="nav-item">
                                <a :href="'/#race'" data-mt-duration="300" class="js-trigger nav-link active">Drifter Karts</a>
                              </li>
                              <li class="nav-item">
                                 <a :href="'/#race'" data-mt-duration="300" class="js-trigger nav-link">Racing</a>
                              </li>
                              <li class="nav-item">
                                 <a :href="'/#battle'" data-mt-duration="300" class="js-trigger nav-link" href="/#battle">Battle</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/faq">Preise</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                            </ul>
                        </div> 
                    </div>
                    <div class="d-block d-lg-none mobile-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                          <li class="nav-item active">
                                            <a class="nav-link" href="#about">Drifter Karts</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#race">Racing</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#battle">Battle</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                                          </li>
                                           <li class="nav-item">
                                                <a class="nav-link" href="/faq">Preise</a>
                                           </li>
                                           <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="section py-3">
            <div class="container event-select">
                <div class="row">
                    <div class="col-md-4">
                       <!-- <h2 class="text-primary"><a :href="'/'"><img height="58" width="148" src="/../images/logo.png" alt="Drifterkarts"></a></h2>-->
                    </div>
                    <div class="col-md-4 text-center ">
                        
                    </div>
                    <div class="col-md-2 offset-md-2">
                        <!-- <v-select v-model="current_language" :options="languages" v-on:input="changeLanguage"></v-select> -->
                        <!-- <select class="custom-select mr-sm-2" v-model="current_language" @change="changeLanguage($event)">
                            <option v-for="language in languages" :value="language.value" :key="language.value">
                                {{ language.label }}
                            </option>
                        </select> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="section mt-5 content">
            <div class="container">
<div class="row pt-4 align-items-center">
                    <div class="col-md-4 offset-md-4">
                        <!-- <h4 class="event-title">Title Text</h4> -->
<select id="booking-selection" class="custom-select mr-sm-2" v-model="booking_mode" @change="changeBookingMode($event)">
                                <option v-for="mode in modes" :value="mode.id" :key="mode.id">
                                    {{ mode.name }}
                                </option>
                            </select>
                            <v-tour name="bookingTour" :steps="steps" :options="myOptions"></v-tour>
                    </div>
                </div>
                <div class="row py-4 align-items-center">
                    <div class="col-md-4 col-sm-6 col-6">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger next_previous_text_color" onClick="location.href='/altersbeschränkung'">Altershinweis</button>
                        </div>
                        <!-- <h4 class="event-title">Title Text</h4> -->
                    </div>
                    <div class="col-md-8 col-sm-6 col-6 d-flex justify-content-end event-nav">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn btn-outline-primary next_previous_text_color" :disabled="current_page <= 1" @click="prevPage()"><i class="fas fa-arrow-left"></i> {{ $t('prev') }} </button>
                          <button type="button" class="btn btn-outline-primary next_previous_text_color" :disabled="current_page == total_pages" @click="nextPage()">{{ $t('next') }} <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-3" v-for="(date, index) in dates[current_page]" :key="index">
                        <div class="card event-card">
                            <div class="card-header py-4 bg-white ">
                                <i class="far fa-calendar-alt mr-3 text-primary"></i> {{ date }}
                            </div>
                            <div class="card-body p-0">
                                <div class="slot-section" v-for="(slots, slot_name, index) in event_slots[date]" :key="slot_name">
                                    <div v-if="slot_name != 'currentSlot' && slot_name != 'uniqueNumber'">
                                        <div id="accordion">
                                            <a :class="{'slot-section-btn': true, 'collapsed': event_slots[date].currentSlot != slot_name}" data-toggle="collapse" v-bind:href="'#collapse'+index+event_slots[date].uniqueNumber">
                                                {{ $t(slot_name) }} <i class="fas fa-angle-down"></i>
                                            </a>
                                            <div v-bind:id="'collapse'+index+event_slots[date].uniqueNumber" :class="{'collapse': true, 'show': event_slots[date].currentSlot == slot_name}">
                                                <div class="slots-container">
                                                    <button @click="showModal(date, slot)" v-for="(slot, ind) in slots" :key="ind" :disabled="slot.total_slots == slot.total_bookings" type="button" class="btn btn-outline-primary">{{ slot.start_time }} <span class="badge badge-primary available">{{slot.total_slots - slot.total_bookings }}</span> <i v-show="slot.total_kids > 0" class="fas fa-child"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="p-4" v-if="!event_slots[date].Morning && !event_slots[date].Afternoon && !event_slots[date].Evening">{{ $t('no_bookings_msg') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-d d-flex  flex-wrap">
                    <div class="info-box available">
                        {{ $t('available') }}
                    </div>
                    <div class="info-box not-available">
                        {{ $t('not_available') }}
                    </div>
                    <div class="info-box children-available">
                        {{ $t('child_available') }}
                    </div>
                </div>
            </div>
        </div>
        <transition name="fade">
        <modal v-show="isModalVisible" @close="closeModal"/>
        </transition>
<div><route-footer></route-footer></div>
    </div>
</template>
<style lang="css">
    @import '../../sass/home.css';
    /* @import 'vue-tour/dist/vue-tour.css'; */
</style>
<script>
import Vue from 'vue'
import modal from './BookModel.vue';
const datesBetween = require('dates-between');
import _ from 'lodash';
import { expandPanel } from 'vue-expand-panel'
import 'vue-expand-panel/dist/vue-expand-panel.css'
import VueTour from 'vue-tour'
Vue.use(VueTour) 
require('vue-tour/dist/vue-tour.css') 

// register modal component
export default {
    name: 'my-tour',
    components: {
      modal,
      expandPanel
    },
    data() {
    
        return {
            modes: [],
            dates: [],
            index: 0,
            total_pages: 0,
            current_page: 1,
            booking_mode: [],
            event_slots: [],
            isModalVisible: false,
            languages: [],
            current_language: [],
            myOptions: {
                useKeyboardNavigation: false,
                labels: {
                    buttonStop: 'Verstanden'
                }
            },
            steps: [
                {
                    target: '#booking-selection',  // We're using document.querySelector() under the hood
                    content: `Bitte wählen Sie hier Ihre Arena aus. Es stehen Racing und Battle zur Auswahl. Sie können jederzeit hin und her springen und mehrere Buchungen auslösen.`
                }
            ]
        }
    },
    mounted(){
        this.$tours['bookingTour'].start();
    },
    filters: {
        formatUnix: function (value) {
            console.log(value)
            if (value) {
                return moment(value, "D.M.YYYY").valueOf();
            }
        }
    },
    created() {
        this.getBookingModes();
        this.languages = [{label: 'DE', value: 'de'}, {label: 'EN', value: 'en'}];
        this.current_language = this.languages[0].value;
        this.getSlots();
        
    },
    methods: {
        displaySlots: function(date, current_slot) {
            this.event_slots[date].currentSlot = current_slot;
            // console.log(slot, current_slot)
        },
        changeLanguage(e) {
            if(!_.isUndefined(e.target.value)) {
                this.current_language = e.target.value;
            }
            else {
                this.current_language = this.languages[0].value;
            }
            this.$i18n.locale = e.target.value
        },
        changeBookingMode(e) {
            if(!_.isUndefined(e.target.value)) {
                var currentUrl = window.location.pathname;
                $('#bookingSection').removeClass('counter-center');
                
                if(this.$store.getters.BOOKING_MODE.id == 2){
                    var newURL = currentUrl.replace("/startzeit-buchen/racing_mode","/startzeit-buchen/battle_mode");
                    this.$router.replace(newURL);  
                }else if(this.$store.getters.BOOKING_MODE.id == 1){
                    var newURL = currentUrl.replace("/startzeit-buchen/battle_mode","/startzeit-buchen/racing_mode");
                    this.$router.replace(newURL);
                }

                let item = {};
                item['id'] = e.target.value;
                item['name'] = e.target.options[e.target.selectedIndex].text;
                this.$store.dispatch('SAVE_BOOKING_MODE', item);
                this.booking_mode = e.target.value;
                this.getSlots()
            }
        },
        showModal(date, slot) {
        
            let item = {};
            item['id'] = slot.id;
            item['event_date'] = date;
            item['start_time'] = slot.start_time;
            item['total_bookings'] = slot.total_bookings;
            item['total_slots'] = slot.total_slots;
            item['total_kids'] = slot.total_kids;
            this.isModalVisible = true;
            this.$store.dispatch('SAVE_CURRENT_SLOT', item);
            $('body').addClass('hide_scroll');
        },
        closeModal() {
            $('body').removeClass('hide_scroll');
            this.isModalVisible = false;
            this.getSlots();
        },
        getBookingModes: function () {
            this.$http.get(this.$apiURL+'booking-modes')
            .then(res => {
                this.modes = res.data.data
                
                $('#bookingSection').removeClass('counter-center');
                
                if(window.location.href.indexOf("racing_mode") > -1) {
                    this.$store.dispatch('SAVE_BOOKING_MODE', this.modes[1]);
                }
                
                if(window.location.href.indexOf("battle_mode") > -1){
                    this.$store.dispatch('SAVE_BOOKING_MODE', this.modes[0]);
                }

                this.booking_mode = this.$store.getters.BOOKING_MODE.id
                this.fetchEventDates();
            })
            .catch(e => {
                // Errors
            })
        },
        nextPage: function() {
            this.current_page += 1;
            this.getSlots();
        },
        prevPage: function() {
            this.current_page -= 1;
            this.getSlots();
        }, 
        fetchEventDates: function() {
            let today = new Date();
            const startDate = new Date(today);
            let numberOfDaysToAdd = 365;
            const endDate = today.setDate(today.getDate() + numberOfDaysToAdd);
            let page_index = this.current_page;
            for (const date of datesBetween(startDate, endDate)) {
                if(typeof this.dates[page_index] == 'undefined')
                    this.dates[page_index] = [];
                
                let month = ((date.getMonth() + 1) <= 9) ? '0'+(date.getMonth()+1) : date.getMonth()+1;
                let day = ((date.getDate()) <= 9) ? '0'+(date.getDate()) : date.getDate();
                let fulldate = day + "." + (month) + "." +  date.getFullYear();

                this.dates[page_index][this.index] = fulldate;
                this.index++;
                if (this.index > 0 && this.index % 3 == 0) {
                    page_index++;
                    this.index = 0;
                }
            }
            this.total_pages = page_index
            this.getSlots();
        },
        getSlots: _.debounce(function () {
            // console.log(this.$store.getters.BOOKING_MODE.id);
            if(!_.isEmpty(this.$store.getters.BOOKING_MODE)) {
                
                if(this.$store.getters.BOOKING_MODE.id == 1){
                    $('#bookingSection').addClass('yellow-bg');
                    $('#bookingSection').removeClass('red-bg');
                }else if(this.$store.getters.BOOKING_MODE.id == 2){
                    $('#bookingSection').addClass('red-bg');
                    $('#bookingSection').removeClass('yellow-bg');
                }

                let start_date = this.dates[this.current_page][0]
                let end_date = this.dates[this.current_page][this.dates[this.current_page].length-1]
                const params = {
                    start_date: start_date,
                    end_date: end_date,
                };
                this.$http.get(this.$apiURL+'event/slots/'+this.$store.getters.BOOKING_MODE.id, { params })
                .then(res => {
                    this.event_slots = res.data.data
                    // console.log(this.event_slots)
                })
                .catch(e => {
                    // Errors
                })    
            }
        }, 200)
    }
}

</script>