<!-- please insert properly -->
<template>
    <div class="main cms-index impressum_block">
        <header class="main-header" id="main-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-4">
                        <div class="logo"><a :href="'/'"><img src="/../images/logo.png" class="img-fluid mx-auto mx-lg-0 d-block" alt=""></a></div>
                    </div>
                    
                    <div class="col-12 col-lg-8 nav-block">
                        <div class="d-flex d-lg-none menu-toggle">
                            <button class="navbar-toggler btn btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <img src="/../images/menu.svg" class="menu" alt="">
                            </button>
                        </div>
                        <div class="d-none d-lg-block"> 
                            <ul class="nav justify-content-end">
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link active" href="/#about">Drifter Karts</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/#race">Racing</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/#battle">Battle</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/faq">Preise</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                            </ul>
                        </div> 
                    </div>
                    <div class="d-block d-lg-none mobile-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                          <li class="nav-item active">
                                            <a class="nav-link" href="/#about">Drifter Karts</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="/#race">Racing</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="/#battle">Battle</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                                          </li>
                                           <li class="nav-item">
                                                <a class="nav-link" href="/faq">Preise</a>
                                           </li>
                                           <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="top overlay">
            <div class="container h-100 morphblock">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col">
                        <div class="morph text-white text-center d-none"> <span class="page_title">Preise & Infos</span></div>
                        <div class="text-center pt-1 pt-md-5">
                            <!--<a href="/startzeit-buchen/racing_mode" class="btn btn-link btn-link-white">Kart starten...</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center text-white down-arrow">
                <a href="#about" class=""><img src="/../images/down-arrow.svg" class="infinite animated fadeInDown" alt=""></a>
            </div>
        </section>
        <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Einzelfahrt</h5>
            <h6 class="card-price text-center">€10,50<span class="period"> / 10 Min.</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Drifter Kart</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Leihhelm</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>10 Minuten Fahrspaß</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Racing / Battle Mode</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Power Ups</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Private Bahn</li>
             <!-- <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Racinghaube</li>-->
            </ul>
            <a href="/startzeit-buchen/racing_mode" class="btn btn-block btn-primary text-uppercase">Reservieren</a>
          </div>
        </div>
      </div>
      <!-- Battle -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Private Battle</h5>
            <h6 class="card-price text-center">€55<span class="period"> / 10 Min.</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>6 Drifter Karts</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Leihhelme</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>10 Minuten Fahrspaß</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Battle Mode</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Power Ups</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Private Bahn</li>
              <!-- <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Racinghaube</li>-->
            </ul>
            <a href="/startzeit-buchen/racing_mode" class="btn btn-block btn-primary text-uppercase">Reservieren</a>
          </div>
        </div>
      </div>
      <!-- Racing -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Private Race</h5>
            <h6 class="card-price text-center">€90<span class="period"> / 10 Min.</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>10 Drifter Karts</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Leihhelme</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>10 Minuten Fahrspaß</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Racing Mode</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Power Ups</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Private Bahn</li>
              <!-- <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Racinghaube</li>-->
            </ul>
            <a href="/startzeit-buchen/racing_mode" class="btn btn-block btn-primary text-uppercase">Reservieren</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 3rem;">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">5er Karte</h5>
            <h6 class="card-price text-center">€49,00<span class="period"> / 5x 10 Min.</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5x Drifter Kart</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5x Leihhelm</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>50 Minuten Fahrspaß</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Racing / Battle Mode</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Power Ups</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Private Bahn</li>
              <!-- <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Racinghaube</li>-->
            </ul>
            
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
        <section class="impressum_orange ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center desc">
                        <h2>Öffnungszeiten</h2>
                        <dl>
                            <dt>Montag - Freitag</dt>
                            <dd>15:00 - 23:00 Uhr</dd>
                            <dt>Samstag</dt>
                            <dd>14:00 - 24:00 Uhr</dd>
                            <dt>Sonntag</dt>
                            <dd>14:00 - 23:00 Uhr</dd>
                            <dt>Schulferien</dt>
                            <dd>ab 10:00 Uhr</dd>
                        </dl>
                        <p>Andere Zeiten sind jederzeit telefonisch unter 0911/ 633 21 882 vereinbar. Sie erreichen unser Büro täglich ab 10.00 Uhr.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="impressum_white impressum_desc_list bg-orange">
            <div class="container">
                <div class="row desc white">
                    <div class="col-md-4">
                        <h3>Fahrzeit</h3> <p>Die Fahrzeit beträgt je Buchung 10 Minuten. Hinzu kommed pro Runde 10 Minuten für die Auslaufrunde und den Fahrerwechsel.</p> 
                    </div>
                    <div class="col-md-4">
                        <h3>Haube</h3> <p>Aus hygienischen Gründen muß unter unserem Leihhelm eine Haube getragen werden. Diese erhalten Sie kostenfrei am Empfang. Sie können selbstverständllich auch einen eigenen Fahrrad-/Skaterhelm mitbringen.</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Fragen?</h3> <p>Unser Büro ist täglich ab 10:00 Uhr besetzt. Ihre Fragen beantworten wir gerne telefonisch oder per E-Mail.</p>
                    </div>
                </div>
            </div>
        </section>      
        <div class=""><route-footer></route-footer></div>
    </div>

</template>
<style lang="scss">
    @import '../../sass/home.css';
    @import '../../sass/animate.min.css';
    @import '../../sass/owl.carousel.min.css';
    @import '../../sass/owl.theme.default.min.css';
</style>
<script>
    require('../../js/morphext.min.js')
    require('../../js/owl.carousel.min.js')
    require('../../js/home.js')
</script>