<template>
  <footer class="footer">
    <div class="container">
      <div class="row pb-5">
        <div class="col-12 col-md-4 text-center">
          <h4 class="foot-title">RENNZEITEN</h4>
          <dl>
            <dt>Montag - Freitag</dt>
            <dd>15:00 - 23:00 Uhr</dd>
            <dt>Samstag</dt>
            <dd>14:00 - 24:00 Uhr</dd>
            <dt>Sonntag</dt>
            <dd>14:00 - 23:00 Uhr</dd>
            <dt>Schulferien</dt>
            <dd>ab 10:00 Uhr</dd>
          </dl>
        </div>
        <div class="col-12 col-md-4 text-center">
          <h4 class="foot-title">HINWEIS</h4>
          <p>
            Kinder dürfen ab 10 Jahren mit reduzierter Geschwindigkeit mitfahren. Jugendliche, die nicht in Begleitung eines Erziehungsberechtigten zu uns kommen, benötigen eine
            <a
              href="/../doc/Nutzungsvertrag_Drifterkarts.pdf"
              class="foot-pdf-link footer_link"
            >Einverständniserklärung</a> der Eltern.
          </p>
          <ul class="list-unstyled">
            <li>
              <a
                href="/../doc/Kartregeln.pdf"
                class="foot-link footer_link"
                target="__blank"
              >Kartregeln</a>
            </li>
            <li>
              <a
                href="/../doc/Nutzungsvertrag_Haftungsausschluss.pdf"
                class="foot-link footer_link"
                target="__blank"
              >Nutzungsvereinbarung</a>
            </li>
            <li>
              <a
                href="/../doc/Begleitperson.pdf"
                class="foot-link footer_link"
                target="__blank"
              >Begleitperson</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4 text-center">
          <h4 class="foot-title">KONTAKT</h4>
          <p>0911 633 21 882</p>
          <p>
            Sigmundstr. 110
            <br />90431 Nürnberg
          </p>
          <ul class="list-unstyled">
            <li>
              <a href="/datenschutz" class="foot-link footer_link">Datenschutzerklärung</a>
            </li>
            <li>
              <a href="/impressum" class="foot-link footer_link">Impressum</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom-foot">
      <div class="col-md-8 offset-md-2">
        <p class="text-center text-sm text-secondary">
          <small>Copyright 2019 | Drifter Karts GmbH</small>
        </p>
      </div>
    </div>
   
  </footer>
</template>

<script>
$(document).ready(function(){
  if(!$cookies.isKey('default_unit_second')){
Swal.fire(
  'Liebe Gäste',
  'Unsere Tochter heiratet in den USA. Aus diesem Grund haben wir vom 15.10.2019 bis einschließlich 25.10.2019 geschlossen. Bitte haben Sie Verständnis, dass wir während dieser Zeit auch telefonisch nicht erreichbar sind. Ab 28.10.2019 sind wir wieder für Sie da.',
  'info'
)
}
window.$cookies.set("default_unit_second","input_value",0);
})
   
</script>