<template>    
<div class="section bg-light py-3">
            <div class="container event-select">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="text-primary"><img height="58" width="148" src="images/logo.png" alt="Drifterkarts"></h2>
                    </div>
                    <div class="col-md-4 text-center ">
                        <select class="custom-select mr-sm-2" v-model="booking_mode" @change="changeBookingMode($event)">
                            <option v-for="mode in modes" :key="mode.id" :value="{ id: mode.id, text: mode.name }">
                                {{ mode.name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2 offset-md-2">
                        <!-- <v-select v-model="current_language" :options="languages" v-on:input="changeLanguage"></v-select> -->
                        <!-- <select class="custom-select mr-sm-2" v-model="current_language" @change="changeLanguage($event)">
                            <option v-for="language in languages" :value="language.value" :key="language.value">
                                {{ language.label }}
                            </option>
                        </select> -->
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
export default {
    data() {
        return {
            modes: [],
            dates: [],
            booking_mode: [],
            languages: [],
            current_language: []
        }
    },
    created() {
        this.$parent.getBookingModes();
        this.languages = [{label: 'DE', value: 'de'}, {label: 'EN', value: 'en'}];
        this.current_language = this.languages[0].value;
    },
    methods: {
        changeLanguage(e) {
            if(!_.isUndefined(e.target.value)) {
                this.current_language = e.target.value;
            }
            else {
                this.current_language = this.languages[0].value;
            }
            this.$i18n.locale = e.target.value
        },
        changeBookingMode(e) {
            // console.log(e.target)
            if(!_.isUndefined(e.target.value)) {
                let item = {};
                item['id'] = e.target.value;
                item['name'] = e.target.text;
                this.$store.dispatch('SAVE_BOOKING_MODE', item);
                this.booking_mode = e.target.value;
                this.$parent.getSlots()
            }
        }
    }
}
</script>