<template>
    <div class="main cms-index">
        <header class="main-header" id="main-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-4">
                        <div class="logo"><img src="/../images/logo.png" class="img-fluid mx-auto mx-lg-0 d-block" alt=""></div>
                    </div>
                    
                    <div class="col-12 col-lg-8 nav-block">
                        <div class="d-flex d-lg-none menu-toggle">
                            <button class="navbar-toggler btn btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <img src="/../images/menu.svg" class="menu" alt="">
                            </button>
                        </div>
                        <div class="d-none d-lg-block"> 
                            <ul class="nav justify-content-end">
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link active" href="#about">Drifter Karts</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="#race">Racing</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="#battle">Battle</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/faq">Preise</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                            </ul>
                        </div> 
                    </div>
                    <div class="d-block d-lg-none mobile-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                          <li class="nav-item active">
                                            <a class="nav-link" href="#about">Drifter Karts</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#race">Racing</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#battle">Battle</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                                          </li>
                                           <li class="nav-item">
                                                <a class="nav-link" href="/faq">Preise</a>
                                           </li>
                                             <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="top overlay">
            <div class="container h-100 morphblock">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col">
                        <div class="morph text-white text-center d-none"><span id="js-rotating">Racing,meets,Lasertag</span></div>
                        <div class="text-center pt-1 pt-md-5"><a href="/startzeit-buchen/racing_mode" class="btn btn-link btn-link-white">Kart starten...</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="text-center text-white down-arrow">
                <a href="#about" class=""><img src="/../images/down-arrow.svg" class="infinite animated fadeInDown" alt=""></a>
            </div>
        </section>
        <section class="about" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="heading">Drifter Karts Nürnberg</h2>
                        <p class="desc">Drifter Karts ist der neue Karting Spaß für die ganze Familie in Nürnberg. Wir verbinden Fahrspaß und reales Videospielerlebnis. Auf unseren Drifterkarts benötigst du fahrerisches Können und Treffsicherheit um die Rennstrecke oder die Kampfarena als Sieger zu verlassen.
                        Drifte auf unseren Karts durch fünf Welten und schalte dabei deine Gegner aus.</p>
                        <a href="/startzeit-buchen/racing_mode" class="link">Jetzt Kart reservieren! </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="slider_section">               
            <div class="video_slider owl-carousel">
                <div class="custom_item">
                 <video controls>
                  <source src="/../images/Franzi.mp4" type="video/mp4">
                </video> 
                </div>
                <div class="custom_item">
                    <img src="/../images/xLounge01.jpg" class="" alt="">                                
                </div>
                <div class="custom_item">
                    <img src="/../images/Space02.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Festung07.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Festung06.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Festung05.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Festung04.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Festung03.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Festung02.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Dschungel01.jpg" class="" alt="">
                </div>

                <div class="custom_item">
                    <img src="/../images/Candy02.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Candy01.jpg" class="" alt="">
                </div>
                <div class="custom_item">
                    <img src="/../images/Allgemein01.jpg" class="" alt="">
                </div>
            </div>                    
        </section>   


        <section class="racemode bg-orange" id="race">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- 4:3 aspect ratio -->
                        <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://player.vimeo.com/video/341750978?autoplay=1&loop=1&controls=1&muted=1"
                             width="540" height="405" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                         <!---<vimeo-player :video-id="videoID"  :player-height="height" :player-width="width"></vimeo-player>
                                <video class="embed-responsive-item" loop muted autoplay>
                                <source src="/../video/Map-Animated.mp4" type="video/mp4">
                                <source src="/../video/Map-Animated.webm" type="video/webm">
                            </video>--->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="heading white">Racing Mode</h2>
                        <p class="desc white">Auf unserer Rennstrecke geht es um Geschwindigkeit und Geschicklichkeit. Nur wer die Karts beherrscht und seine Gegner mit eingesammelten Power Up`s ausschalten kann, gewinnt das Rennen durch vier verschiedene Welten. Es erwartet dich die Candy World, Zorns Festung, Darkland und unser tiefer undurchdringlicher Dschungel. Fordere deine Gegner heraus und werde der neue Drifter King.</p>
                        <router-link to = "/startzeit-buchen/racing_mode" class="btn btn-link">Startzeit buchen</router-link>
                    </div>
                </div>
            </div>
        </section>
        <section class="battlemode bg-yellow" id="battle">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-md-last">
                        <img src="/../images/sideimage.png" class="" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2 class="heading dark">Battle Mode</h2>
                        <p class="desc dark">6 Karts, 3 Leben und nur einer kann gewinnen. In unserer Kampfarena geht es um Geschicklichkeit und die richtige Strategie. Nimm deine Gegner ins Visier und setze Ihre Karts ausser Gefecht. Aber achte dabei auf dein eigenes, denn auch deine Gegner haben gefährliche Waffen: Hüte dich vor Ihren grünen Raketen und Blitzen. Treffen Sie dich, kostet dich das ein Leben - und davon hast du nur drei. Stell' dich dem Battle und werde König der Kampfarena!</p>
                        <router-link to = "/startzeit-buchen/battle_mode" class="btn btn-link">Startzeit buchen</router-link>
                    </div>
                </div>
            </div>
        </section>
        <section class="info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="heading">Drifter Karts Nürnberg</h2>
                        <p class="desc">"Unser Ziel ist es, das Gameplay und den Fun aus Videospielen real erlebbar zu machen. Dabei entstanden 2 Areas und 5 Welten voller Spaß und Action für Kinder und Erwachsene"</p>
                        <a href="/startzeit-buchen/racing_mode" class="link">Jetzt Kart reservieren! </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                            <h2 class="pr-3 mb-0">Lust auf eine Runde Drifter Kart? </h2>
                            <a href="/startzeit-buchen/racing_mode" class="btn btn-link">Jetzt reservieren</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonials bg-testimonials">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-md-6 offset-md-6">
                        <div class="testimonials-silde owl-carousel">
                            <div class="testimonials-item">
                                <p class="text-white review">"Das ist wie Lasertag nur mit Karts. Wer gerne Mario Kart spielt, wird Drifter Karts lieben."</p>
                                <div class="client text-white">
                                    <p><strong>DAVID D.</strong></p>
                                    <span>Nürnberg</span>
                                </div>
                            </div>
                            <div class="testimonials-item">
                                <p class="text-white review">"Danke, dass wir die Karts testen durften! Es hat uns riesigen Spaß gemacht und wir kommen garantiert wieder!"</p>
                                <div class="client text-white">
                                    <p><strong>Julian S.</strong></p>
                                    <span>Fürth</span>
                                </div>
                            </div>
                            <div class="testimonials-item">
                                <p class="text-white review">"Wahnsinn, was hier entstanden ist. Es ist der pure Spaß mit den Karts über die Strecke zu jagen und die Gegner abzuschießen!"</p>
                                <div class="client text-white">
                                    <p><strong>CHRISTOPH S.</strong></p>
                                    <span>Rosstal</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="container-fluid p-0">
                <div class="row align-items-center m-0">
                    <div class="col-md-8 p-0">
                        <div style="width: 100%"><iframe width="100%" height="350" src="https://maps.google.com/maps?q=49.452849,11.012533&width=100%&amp;height=350&amp;hl=de&amp;q=Sigmundstr.%20110%2090431%20N%C3%BCrnberg&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create a route on google maps</a></iframe></div>
                    </div>
                    <div class="col-md-4 p-5">
                            <h4>Drifter Karts</h4>
                            <h5>Nürnberg:</h5>
                            <address>
                                Sigmundstr. 110
                                90431 Nürnberg
                            </address>
                            <ul class="list-unstyled">
                                <li><abbr title="Telephone">Tel.</abbr> 0911 633 21 882</li>
                                
                                <li><abbr title="Email">Email:</abbr> info@drifterkarts.de</li>
                            </ul>
                    </div>
                </div>
            </div>
        </section>
                       
        <div><route-footer></route-footer></div>
    </div>

</template>
<style lang="scss">
    @import '../../sass/home.css';
    @import '../../sass/animate.min.css';
    @import '../../sass/owl.carousel.min.css';
    @import '../../sass/owl.theme.default.min.css';
</style>
<script>
    require('../../js/morphext.min.js')
    require('../../js/owl.carousel.min.js')
    require('../../js/home.js')
</script>