<template>
    <div class="main cms-index impressum_block">
        <header class="main-header" id="main-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-4">
                        <div class="logo"><img src="/../images/logo.png" class="img-fluid mx-auto mx-lg-0 d-block" alt=""></div>
                    </div>
                    
                    <div class="col-12 col-lg-8 nav-block">
                        <div class="d-flex d-lg-none menu-toggle">
                            <button class="navbar-toggler btn btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <img src="/../images/menu.svg" class="menu" alt="">
                            </button>
                        </div>
                        <div class="d-none d-lg-block"> 
                            <ul class="nav justify-content-end">
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link active" href="/#about">Drifter Karts</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/#race">Racing</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/#battle">Battle</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/faq">Preise</a>
                              </li>
                              <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                            </ul>
                        </div> 
                    </div>
                    <div class="d-block d-lg-none mobile-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                          <li class="nav-item active">
                                            <a class="nav-link" href="#about">Drifter Karts</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#race">Racing</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#battle">Battle</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="/startzeit-buchen/racing_mode">Buchen</a>
                                          </li>
                                           <li class="nav-item">
                                                <a class="nav-link" href="/faq">Preise</a>
                                           </li>
                                           <li class="nav-item">
                                <a data-mt-duration="300" class="js-trigger nav-link" href="/altersbeschränkung">Altersbeschränkung</a>
                              </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="top overlay">
            <div class="container h-100 morphblock">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col">
                        <div class="morph text-white text-center d-none"> <span class="page_title">Impressum</span></div>
                        <div class="text-center pt-1 pt-md-5">
                            <!--<a href="/startzeit-buchen/racing_mode" class="btn btn-link btn-link-white">Kart starten...</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center text-white down-arrow">
                <a href="#about" class=""><img src="/../images/down-arrow.svg" class="infinite animated fadeInDown" alt=""></a>
            </div>
        </section>
        <section class="impressum_white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="impressum_title">Angaben gemäß § 5 TMG</h2>
                            <p>Drifter Karts GmbH<br />
                            Sigmundstr. 110<br />
                            90431 Nürnberg</p>

                            <p>Handelsregister: HRB 34494<br />
                            Registergericht: Amtsgericht Nürnberg</p>

                            <p><strong>Vertreten durch:</strong><br />
                            Silvia Streeb</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="impressum_orange bg-orange">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center desc white">
                        <h2>Kontakt</h2>
                        <p>Telefon: <a href="tel:004991163321882"></a>0911/ 633 21 882<br />
                        E-Mail: info@drifterkarts.de</p>

                        <h2>Postadresse</h2>
                        <p>Narzissenweg 7<br />
                        91189 Rohr</p>
                        <h2>Umsatzsteuer-ID</h2>
                        <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />DE314878199</p>
                    </div>
                </div>
            </div>
        </section>
         <section class="impressum_yellow bg-yellow">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="impressum_title">Streitschlichtung</h2>
                        <p>D0ie Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
                        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="impressum_white impressum_desc_list">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Haftung für Inhalte</h3> <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p> <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p> 
                    </div>
                    <div class="col-md-4">
                        <h3>Haftung für Links</h3> <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p> <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p> 
                    </div>
                    <div class="col-md-4">
                        <h3>Urheberrecht</h3> <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p> <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
                    </div>
                </div>
            </div>
        </section>               
        <div><route-footer></route-footer></div> 
    </div>

</template>
<style lang="scss">
    @import '../../sass/home.css';
    @import '../../sass/animate.min.css';
    @import '../../sass/owl.carousel.min.css';
    @import '../../sass/owl.theme.default.min.css';
</style>
<script>
    require('../../js/morphext.min.js')
    require('../../js/owl.carousel.min.js')
    require('../../js/home.js')
</script>