<template>
    <nav class="tabs is-boxed">
        <div class="container">
            <ul>
                <router-link tag="li" to="/" exact>
                <a>Home</a>
                </router-link>

                <router-link tag="li" to="/another">
                <a>Another</a>
                </router-link>
            </ul>
        </div>
    </nav>
</template>